<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <label>微軟組前兩名實習機會僅提供免履歷審查</label>
    <div class="form-group">
        <label for="teamName">
            隊名 <font class="errorMsg">{{ getErrorMsg('teamName') }}</font>
        </label>
        <input
        formControlName="teamName"
        type="text"
        class="form-control">
    </div>
    <label _ngcontent-c3="" for="enterprise">
        合作企業志願序
        <i _ngcontent-c3="" aria-hidden="true" class="fa fa-info-circle non-touch" ngbtooltip="企業資訊請參考官方網站" placement="top">
        </i>
        <font _ngcontent-c3="" class="errorMsg">必填</font>
    </label>
    <div class="form-row">
        <div _ngcontent-c3="" class="input-group col-md-2 form-group">
            <span _ngcontent-c3="" class="input-group-addon">1</span>
            <select _ngcontent-c3="" class="enter1 form-control ng-untouched ng-pristine ng-invalid"  formControlName="enterprise1" type="text">
                <option _ngcontent-c3="" value="">

                </option>
                <option _ngcontent-c3="" value="微軟">
                    微軟
                </option>
                <option _ngcontent-c3="" value="資策會">
                    資策會
                </option>
                <option _ngcontent-c3="" value="羅技科技">
                    羅技科技
                </option>
                <option _ngcontent-c3="" value="中華電信">
                    中華電信
                </option>
            </select>
        </div>
        <div _ngcontent-c3="" class="input-group col-md-2 form-group">
            <span _ngcontent-c3="" class="input-group-addon">2</span>
            <select _ngcontent-c3="" class="enter2 form-control ng-untouched ng-pristine ng-invalid" formControlName="enterprise2" type="text">
                <option _ngcontent-c3="" value="">

                </option>
                <option _ngcontent-c3="" value="微軟">
                    微軟
                </option>
                <option _ngcontent-c3="" value="資策會">
                    資策會
                </option>
                <option _ngcontent-c3="" value="羅技科技">
                    羅技科技
                </option>
                <option _ngcontent-c3="" value="中華電信">
                    中華電信
                </option>
            </select>
        </div>
        <div _ngcontent-c3="" class="input-group col-md-2 form-group">
            <span _ngcontent-c3="" class="input-group-addon">3</span>
            <select _ngcontent-c3="" class="enter3 form-control ng-untouched ng-pristine ng-invalid" formControlName="enterprise3" type="text">
                <option _ngcontent-c3="" value="">

                </option>
                <option _ngcontent-c3="" value="微軟">
                    微軟
                </option>
                <option _ngcontent-c3="" value="資策會">
                    資策會
                </option>
                <option _ngcontent-c3="" value="羅技科技">
                    羅技科技
                </option>
                <option _ngcontent-c3="" value="中華電信">
                    中華電信
                </option>
            </select>
        </div>
        <div _ngcontent-c3="" class="input-group col-md-2 form-group">
            <span _ngcontent-c3="" class="input-group-addon">4</span>
            <select _ngcontent-c3="" class="enter4 form-control ng-untouched ng-pristine ng-invalid" formControlName="enterprise4" type="text">
                <option _ngcontent-c3="" value="">

                </option>
                <option _ngcontent-c3="" value="微軟">
                    微軟
                </option>
                <option _ngcontent-c3="" value="資策會">
                    資策會
                </option>
                <option _ngcontent-c3="" value="羅技科技">
                    羅技科技
                </option>
                <option _ngcontent-c3="" value="中華電信">
                    中華電信
                </option>
            </select>
        </div>
        <div _ngcontent-c3="" class="col-md-2">
            <button
            class="btn btn-info"
            type="button"
            (click)="resetEnterprise()">
            清除資料
            </button>
        </div>
    </div>

    <ul class="nav nav-tabs">
    <li class="nav-item" *ngFor="let memberControl of memberForm; let i = index">
        <a
        [style.color]="selectedMemberIndex === i ? '#495057' : '#007bff'"
        [style.cursor]="selectedMemberIndex === i ? 'default' : 'pointer'"
        [class.active]="selectedMemberIndex === i"
        class="nav-link"
        (click)="selectMember(i)">
        {{ signupForm.value.members[i].name | displayTitle:i }}
        <i
        style="cursor: default;"
        *ngIf="getAllErrorMsg(memberControl) !== ''"
        class="fa fa-exclamation-triangle ml-2 errorMark"
        aria-hidden="true">
        </i>
        <button
        (click)="deleteMember()"
        *ngIf="selectedMemberIndex === i"
        type="button"
        class="close ml-4"
        aria-label="Remove">
        <span class="removeMember" aria-hidden="true" style="cursor: pointer;">&times;</span>
        </button>
        </a>
    </li>
    <button
    style="cursor: pointer;"
    (click)="addMember()"
    type="button"
    class="close ml-4"
    aria-label="Add">
    <span aria-hidden="true" class="addMember">+</span>
    </button>
</ul>
<div formArrayName="members" class="mt-4">
    <div *ngFor="let memberControl of memberForm; let i = index">
        <div [formGroupName]="i" *ngIf="selectedMemberIndex === i">
            <app-member-form [form]="memberControl"></app-member-form>
        </div>
    </div>
</div>
<button
[disabled]="!canClear()"
class="btn btn-info"
type="button"
(click)="resetMember()">
清除資料
</button>
<button
class="btn btn-primary"
type="submit">
送出
</button>
</form>

<script type="text/javascript">


</script>
